.basarili{
    background-color: chartreuse;
    color: black;
    padding: 8px;
    letter-spacing: 2px;
    text-align: center;

}

.basarisiz{
    background-color: red;
    color: black;
    padding: 8px;
    letter-spacing: 2px;
    text-align: center;
}
